numpy==1.26.4
transformers==4.34.0
peft==0.8.0
accelerate==0.25.0
monai==0.9.0
albumentations
git+https://github.com/MaureenZOU/detectron2-xyz.git
defusedxml
einops==0.8.0
imageio
kaleido==0.2.1
kornia
lifelines
matplotlib
mpi4py
nibabel
nltk
opencv-python
openpyxl
openslide-python
pandas
peft
plotly==5.24.1
pydicom
pyradiomics
scikit-image
scikit-learn
scikit-survival
scipy
seaborn
shapely
SimpleITK
statsmodels
tcia_utils
tensorboard
tensorboardX
timm
torch_geometric
torchbnn
umap-learn
xgboost
zarr
