# Define parameters of survival analysis
DATASET: TCGA
DATA_INFO: "/home/sg2162/rds/hpc-work/Experiments/clinical/TCGA_included_subjects.json"
OMICS_DIR: "/home/sg2162/rds/rds-pion-p3-3b78hrFsASU/PanCancer/Experiments"
SAVE_OUTCOME_DIR: "/home/sg2162/rds/hpc-work/Experiments/TCGA_Pan-Cancer_outcomes"
SAVE_MODEL_DIR: "/home/sg2162/rds/hpc-work/Experiments/outcomes"
OUTCOME:
  SURVIVAL: ["OS", "DSS", "DFI", "PFI"]
  CLASSIFICATION: ["ImmuneSubtype", "MolecularSubtype", "PrimaryDisease"]
  REGRESSION:
    [
      "GeneProgrames",
      "HRDscore",
      "ImmuneSignatureScore",
      "StemnessScoreDNA",
      "StemScoreRNA",
      # "ProteinExpression",
    ]
TASKS:
  TRAIN: True
  INFERENCE: False
  TEST: False

# Define parameters of radiomics
RADIOMICS:
  TARGET: "tumor"
  SEGMENTATOR:
    VALUE: "BiomedParse"
    CHOICES: ["expert", "nnUNet", "BiomedParse"]
  MODE:
    VALUE: "LVMMed"
    CHOICES:
      ["None", "pyradiomics", "SegVol", "BiomedParse", "BayesBP", "LVMMed"]
    # SUFFIX:
    #   - "_tumor_radiomics.json"
    # SUFFIX:
    #   - "_tumor_graph_aggr_mean.npy"
    # SUFFIX:
    #   - "_tumor_layer0_graph_aggr_mean.npy"
    #   - "_tumor_layer1_graph_aggr_mean.npy"
    #   - "_tumor_layer2_graph_aggr_mean.npy"
    #   - "_tumor_layer3_graph_aggr_mean.npy"
    #   - "_tumor_layer4_graph_aggr_mean.npy"
    SUFFIX:
      - "_tumor_layer0_graph.npz"
      - "_tumor_layer1_graph.npz"
      - "_tumor_layer2_graph.npz"
      - "_tumor_layer3_graph.npz"
      - "_tumor_layer4_graph.npz"
  # KEYS: ["shape", "firstorder", "glcm", "gldm", "glrlm", "glszm", "ngtdm"]
  # KEYS: ["n_voxels", "mean", "max", "min", "var", "skewness", "kurtosis", "entropy"]
  AGGREGATION: False
  AGGREGATED_MODE:
    VALUE: "ABMIL"
    CHOICES: ["None", "MEAN", "ABMIL", "SPARRA"]
  RESOLUTION: 1
  UNITS: "mm"

# Define parameters of pathomics
PATHOMICS:
  MODE:
    VALUE: "CHIEF"
    CHOICES: ["None", "CNN", "HIPT", "UNI", "CONCH", "CHIEF", "UNI2"]
    # SUFFIX:
    #   - "_graph_aggr_mean.npy"
    SUFFIX:
      - "_graph.npz"
  # KEYS: ["TUM", "NORM", "DEB"]
  AGGREGATION: False
  AGGREGATED_MODE:
    VALUE: "ABMIL"
    CHOICES: ["None", "MEAN", "ABMIL", "SPARRA"]
  RESOLUTION: 20
  UNITS: "power"

# Define parameters of deep aggregation
SPLIT:
  FOLDS: 5
  TEST_RATIO: 0.2
  VALID_RATIO: 0.1
  TRAIN_RATIO: 0.7
  FILTER_SUBJECTS: True # discard subjects without outcomes

ARCH:
  GNN: "GCNConv"
  BayesGNN: False
  DIM_TARGET: 1
  LAYERS: [256, 128, 256]
  DROPOUT: 0.5
  POOL_RATIO:
    RAIOMICS: 0.7
    PATHOMICS: 0.7
  OMICS: ["radiomics", "pathomics"]
  # OMICS: ["radiomics"]
  # OMICS: ["pathomics"]
  AGGREGATION:
    VALUE: "SPARRA"
    CHOICES: ["ABMIL", "SPARRA"]
    NUM_GROUPS: 2

TRAIN:
  EPOCHS: 40
  N_WORKS: 32
  BATCH_SIZE: 32
  SAMPLING_RATE: 0.1
  LR: 3e-4
  WIEGHT_DECAY:
    ABMIL: 1.0e-5
    SPARRA: 0.0
  L1_PENALTY:
    ABMIL: 0.0
    SPARRA: 1.0e-4

INFERENCE:
  N_WORKS: 32
  BATCH_SIZE: 4
  SAVE_OMICS: True

TEST:
  PRE_TRAINED: ""
  N_WORKS: 1
  BATCH_SIZE: 1
