# Define parameters of survival analysis
DATASET: TCGA
DATA_INFO: "/home/sg2162/rds/hpc-work/Experiments/clinical/TCGA_included_subjects.json"
OMICS_DIR: "/home/sg2162/rds/rds-pion-p3-3b78hrFsASU/PanCancer/Experiments"
SAVE_OUTCOME_DIR: "/home/sg2162/rds/hpc-work/Experiments/TCGA_Pan-Cancer_outcomes"
SAVE_MODEL_DIR: "/home/sg2162/rds/hpc-work/Experiments/outcomes"
OUTCOME:
  SURVIVAL: ["OS", "DSS", "DFI", "PFI"]
  CLASSIFICATION: ["ImmuneSubtype", "MolecularSubtype", "PrimaryDisease"]
  REGRESSION: [
      "GeneProgrames",
      "HRDscore",
      "ImmuneSignatureScore",
      "StemnessScoreDNA",
      "StemScoreRNA",
      # "ProteinExpression",
    ]
TASKS:
  TRAIN: False
  INFERENCE: True
  TEST: False

# Define parameters of radiomics
RADIOMICS:
  TARGET: "tumor"
  SEGMENTATOR:
    VALUE: "BiomedParse"
    CHOICES: ["expert", "nnUNet", "BiomedParse"]
  MODE:
    VALUE: "LVMMed"
    CHOICES:
      ["None", "pyradiomics", "SegVol", "BiomedParse", "BayesBP", "LVMMed"]
    # SUFFIX:
    #   - "_tumor_graph.npz"
    SUFFIX:
      - "_tumor_layer0_graph.npz"
      - "_tumor_layer1_graph.npz"
      - "_tumor_layer2_graph.npz"
      - "_tumor_layer3_graph.npz"
      - "_tumor_layer4_graph.npz"
  RESOLUTION: 1
  UNITS: "mm"

# Define parameters of pathomics
PATHOMICS:
  MODE:
    VALUE: "UNI"
    CHOICES: ["None", "CNN", "HIPT", "UNI", "CONCH", "CHIEF", "UNI2"]
    SUFFIX:
      - "_graph.npz"
  RESOLUTION: 20
  UNITS: "power"

# Define parameters of deep aggregation
SPLIT:
  FOLDS: 5
  TEST_RATIO: 0.2
  VALID_RATIO: 0.1
  TRAIN_RATIO: 0.7
  FILTER_SUBJECTS: False # discard subjects without outcomes

ARCH:
  GNN: "GCNConv"
  BayesGNN: False
  DIM_TARGET: 1
  LAYERS: [256, 128, 256]
  DROPOUT: 0.5
  POOL_RATIO:
    RAIOMICS: 0.7
    PATHOMICS: 0.7
  OMICS: ["radiomics", "pathomics"]
  # OMICS: ["radiomics"]
  # OMICS: ["pathomics"]
  AGGREGATION:
    VALUE: "SPARRA"
    CHOICES: ["MEAN", "ABMIL", "SPARRA"]
    NUM_GROUPS: 1

TRAIN:
  EPOCHS: 40
  N_WORKS: 32
  BATCH_SIZE: 16
  SAMPLING_RATE: 0.1 # only applied to radiomics
  LR: 3e-4
  WIEGHT_DECAY:
    MEAN: 1.0e-5
    ABMIL: 1.0e-5
    SPARRA: 1.0e-5
  L1_PENALTY:
    MEAN: 1.0e-5
    ABMIL: 1.0e-5
    SPARRA: 1.0e-5

INFERENCE:
  N_WORKS: 32
  BATCH_SIZE: 4
  SAMPLING_RATE: 0.1 # only applied to radiomics
  SAVE_OMICS: True

TEST:
  PRE_TRAINED: ""
  N_WORKS: 1
  BATCH_SIZE: 1
